/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/* font-family: 'Poppins', sans-serif; */

/* ------------------------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
._container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ------------------------------------------- */
.page_one{
    width: 100%;
    height: 100vh;
    background: url(../img/road.jpg)no-repeat;
    background-size: cover;
	background-position: center ;
    position: relative;
}
.header_item{
    display: block;
}
.header_container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 40px;
}
.header--fixed{
    position: fixed;
    height: 50px;
	left: 0;
	top: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0,.7);
    transition: all .6s ease;
}
.logo-img-scroll{
    width: 100px;
}
.header_item a{
    color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}
.header_item a:hover{
    color: #B7B7B7;
    border-bottom: 2px solid #B7B7B7;
    transition: 0.2s;
}
.header_item a:not(:last-child){
    margin-right: 35px;
}
.lang_menu{
    display: flex;
}
.lang_menu a{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: white;
}
.lang_menu a:hover{
    color: #B7B7B7;
    transition: 0.2s;
}

.lang_menu a:not(:last-child){
    margin-right: 8px;
}
.lang-burger a{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: white;
}
.lang-burger a:hover{
    color: white;
    transition: 0.1s;
}

.lang-burger a:not(:last-child){
    margin-right: 8px;
}
.lang-burger{
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
/* ------------------------------------------- */
.intro{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100vh;
}
.intro_container h1{
    max-width: 791px;
    margin-top: 230px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    color: #FFFFFF;
}

.intro_button {
    margin-top: 53px;
}
.intro_button a{
    padding: 11px 48px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    background: #DB2512;
}
.intro_button a:hover{
    background: #82180c;
    transition: 0.3s;
}
/* -------------------------------------------------------------- */
/* ---------------------BURGER-MENU------------------------------ */
/* -------------------------------------------------------------- */
.burger-menu{
    display: none;
    /* position: relative; */
    /* z-index: 10; */
}
.link-img {
    margin: 0 40px;
}
.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 200;
    top: 10px;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}
.menu-btn > span::before{
    content: '';
    top: -8px;
}
.menu-btn > span::after{
    content: '';
    top: 8px;
}
.menubox{
    display: block;
    text-align: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 70px 0;
    list-style: none;
    background: rgba(15, 15, 15, .9);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1000;
}
.menu-item{
    display: inline-block;
    padding: 12px 24px;
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.25s;
}

a:active{
    color: rgba(200, 12, 12, 0.907);
}
.menu-item:hover{
    color: rgba(219, 37, 18, .8);
}
#menu-toggle{
    opacity: 0;
}
#menu-toggle:focus ~ .menu-btn > span{
    transform: rotate(45deg);
}
#menu-toggle:focus ~ .menu-btn > span::before{
    transform: rotate(0);
    top: 0;
}
#menu-toggle:focus ~ .menu-btn > span::after{
    transform: rotate(90deg);
    top: 0;
}
#menu-toggle:focus ~ .menubox{
    visibility: visible;
    right: 0;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
.arrow{
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
    width: 30px;
    background-color: #DB2512;
    padding: 20px;
    transition: all .3s ease;
}
.arrow-fixed{
    position: fixed;
    opacity: 1;
    z-index: 30;
    width: 60px;
    bottom: 160px;
    right: 40px;
    transform: rotate(-90deg);
    transition: all .6s ease;
    border-radius: 50%;
    background-color: rgba(219, 37, 18, .6);
    padding: 20px;
}
/* <!-- -------BLOCK_CONTAKT------- --> */
.block-contakt{
    position: relative;
    margin-top: -100px;
}

.intro_block{
    display: flex;
    justify-content: center;
}
.block_one{
    padding: 39px 0 37px 39px;
    width: 100%;
    /* width: 33.333%; */
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.block_one{
    margin-top: 10px;
}
.block_one:not(:last-child){
    margin-top: 10px;
    margin-right: 21px;
}
.text_one_block{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.15em;
    margin: 21px 0 15px;
}
.text_two_block{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B7B7B7;
} 

/* <!-- -----------SERVICE------------ --> */
.service {
    padding: 100px 0;
}
.service-container {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.service-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
}
.service-sub-title {
    margin: 15px 0 60px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.service-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-item{
    margin-right: 5px;
}

.block-img{
    position: relative;
    max-width: 386px;
    max-height: 500px;
    overflow: hidden;
    background-color: black;
}
.block-img:hover img{
    transform:scale(1.3);
    filter: blur(1px);
    opacity: .5;
}
.service-img {
    width: 100%;
    transition: .5s;
}
.service-item_text{
    position: absolute;
    bottom: 32px;
    left: 29px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0;
}
.service-item_text{
    max-width: 269px;
    max-height: 108px;
}
.service-item_button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    font-size: 18px;
    letter-spacing: 0.23em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #DB2512;
    border-radius: 50%;
    z-index: 100;
    opacity: 0;
}
.service-item_name {
    margin-top: 21px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
}
.block-img:hover .service-item_button{
    opacity: .8;
    transition: .5s;
}
.block-img:hover .service-item_text{
    opacity: 1;
    transition: .5s;
}
/* <!-- --------------ABOUT----------- --> */
.block-about {
    padding: 117px 0;
    background: #171616;
}
.block-item_container {
    display: flex;
    justify-content: space-between;
}


.block-above_content {
    max-width: 506px;
}

.block-above_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block-above_text {
    margin: 42px 0 48px 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.23em;
    color: #B7B7B7;
}
.block-above_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block-above_img {
    margin: 40px 0;
}
.above_img {
    width: 100%;
}


/* <!-- -----------WORK-PROCESS----------- --> */

.work-process_content {
    text-align: center;
    padding: 100px 0;
}
.work-process_title {
    font-weight: 900;
    font-size: 148px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
}
.work-process_subtitle {
    margin: 58px 0 92px;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000000;
}
.work-process_block {
    display: flex;
    justify-content: space-between;
}
.work-process_item {
    max-width: 386px;
    padding: 31px 30px 26px 30px;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.work-process_item:not(:last-child) {
    margin-right: 5px;
}
._item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000000;
}
._item-subtitle {
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B7B7B7;
}

/* <!-- ---------CONTACT---------- --> */
.block-contack {
    background: #171616;
}
input,
textarea{
    background: none;
    border-bottom: 1px solid white;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
input{
    display: block;
    width: 197px;
    padding: 9px 0;
}
textarea{
    display: flex;
    width: 100%;
    resize: none;
}
.block-contact_contant {
    max-width: 100%;
    padding: 97px 0;
}
.block-contack_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block-contact_form {
    display: block;
    max-width: 440px;
}
._form-input {
    display: flex;
}
._input-two{
    margin: 45px 0 54px 0;
}
._input-name {
    margin-right: 46px;
}

._input-mail {
    margin-right: 46px;
}

.block-contact_btn{
    padding: 11px 76px;
    margin-top: 37px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #DB2512;
}

/* <!-- ------------FOOTER---------- --> */
.footer {
    padding: 66px 0 61px 0;
}
.footer-error{
    padding: 10px 0 10px 0;
}
.footer-contant {
    display: flex;
    justify-content: space-between;
}
.footer-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.15em;
    color: #000000;
}

.logo-facebook {
    margin-left: 21px;
}
.logo-inst {
    margin-left: 21px;
}









/* ------------------------------------------------------- */
@media (max-width:1052px) {
    .block-item_container {
        display:block;
    }
    .block-above_content {
        max-width: 100%;
    }
}
@media (max-width:811px) {
    .service {
        text-align: center;
    }
    .service-list {
        justify-content: center;
    }
}
@media (max-width:782px) {
    .block-contakt{
        margin-top: 0;
    }
}
@media (max-width:761px) {
    .arrow{
        display: none;
    }
    .header_item{
        display: none;
    }
    .lang_menu{
        display: none;
    }
    .burger-menu{
        display: block;
    }
}

@media (max-width:698px) {
    .footer-contant {
        display: block;
    }
    .footer-social {
        margin-top: 15px;
        text-align: center;
    }
    .footer-text {
        text-align: center;
    }
    .work-process_title {
        font-size: 100px;
    }
    .work-process_block {
        display: block;
    }
    .work-process_item {
        max-width: 100%;
    }
    .intro_block{
        display: block;
        width: 100%;
        text-align: center;
    }
    .text_one_block{
        font-size: 14px;
    }
    .intro_container h1{
        /* font-size: calc(); */
        font-size: 30px;
    }
}
@media (max-width:500px) {
    .work-process_title{
        font-size: 80px;
    }
    .work-process_subtitle{
        font-size: 35px;
    }
}

@media (max-width:475px) {
    ._form-input {
        display: block;
    }
    input{
        width: 100%;
    }
    ._input-last-name {
        margin-top: 45px;
    }
    ._input-phone {
        margin-top: 45px;
    }
}
@media (max-width:400px){
    .work-process_title{
        font-size: 70px;
    }
    .work-process_subtitle{
        font-size: 30px;
    }
    .service-item_text{
        font-size: 16px;
    }
}
@media (max-width:350px){
    .work-process_title{
        font-size: 60px;
    }
    .service-item_text{
        font-size: 14px;
        bottom: 15px;
    }

}
@media (max-width:300px){
    .work-process_title{
        font-size: 50px;
    }
    .block-above_title{
        font-size: 25px;
    }
    .work-process_subtitle{
        font-size: 30px;
    }
    .service-item_text{
        font-size: 10px;
        /* bottom: 0; */
    }
}